				<li><a href="/mes_propositions">Voir mes propositions</a></li>
				<li><a href="/logout">Deconnexion</a></li>
			</ul>
          <form class="navbar-form navbar-right" style="display:none;">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
</nav>