<!DOCTYPE html>
<html>
	<head>
		<title>Les réservations</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<div>
				<p>Identifié en tant que <%= nom %> <%= prenom %> <br/>
					<a href="/logout">Deconnexion</a>
				</p>
		</div>
		
	
	</body>
</html>